<block name="include">
    <include file="./Public/header.html" />
</block>

<body>
    <div class="banner">
        <div class="bd">
            <ul>
                <volist name="list" id="no">
                    <li>
                        <a href="{$no['url']}">
                            <img src="__PUBLIC__/img/{$no['imgpath']}" alt="幻灯片" />
                        </a>
                    </li>
                </volist>
            </ul>
        </div>
        <ul class="hd">
            <li class="on"></li>
            <li></li>
            <li></li>
        </ul>
        <!-- <block name="include">
            <include file="./Public/demand.html" />
        </block> -->
    </div>
    <!-- <script type="text/javascript" src="__PUBLIC__/home/js/layer.js"></script> -->
    <link href="__PUBLIC__/home/css/edi.css" type="text/css" rel="stylesheet" />
    <script src="__PUBLIC__/home/js/yzh.js"></script>
    <script>
        form_submit('demand_form');
        /*SuperSlide图片切换*/
        jQuery(".banner").slide({
            titCell: ".hd li",
            mainCell: ".bd ul",
            effect: "fold",
            autoPlay: true,
            easing: "easeOutCirc",
            interTime: 6000
        });
    </script>
    <!--什么是EDI许可证代码-->
    <div  style="height:290px;width:100%;margin-top:67px;padding:20px 0;">
        <h2 class="about-h2">&nbsp;什么是EDI许可证</h2>
        <div style="width:90%;margin:0 auto;overflow:hidden;">
            <ul class="call-center1 ">
                <li >
                    <div>
                        <h3>标准含义</h3>
                        <p>通过公用通信网或互联网为用户提供在线数据处理和交易/事物处理的业务牌照，简称EDI证。</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h3>审批机构</h3>
                        <p>跨地区业务在工信部办理，省内业务在各省通信管理局办理</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h3>年检要求</h3>
                        <p >地网是每年的1-3月；全网是每年3-6月</p>
                    </div>
                </li>
                <li>
                    <div>
                        <h3>有效期限</h3>
                        <p>使用年限为5年有效期、5年后需要办理续期</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!--申请EDI许可证需要什么条件-->
    <div style="height:500px;width:100%;padding:20px 0">
        <h2 class="about-h2 ">&nbsp;申请EDI许可证需要什么条件</h2>
        <ul class="condition">
            <li>
                <div class="baoz-content">
                    <div>1</div>
                    <p>经营者为依法设立的公司</p>
                </div>
            </li>
            <li>
                <div class="baoz-content">
                    <div>2</div>
                    <p>有与开展经营活动相适应的资金</p>
                </div>
            </li>
            <li>
                <div class="baoz-content">
                     <div>3</div>
                    <p>有为用户提供长期服务的信誉或者能力</p>
                </div>
            </li>
            <li>
                <div class="baoz-content">
                    <div>4</div>
                    <p>有与开展经营活动相适应的资金和专业人员</p>
                </div>
            </li>
            <div class="clearfix"></div>
        </ul>
        <ul class="condition" style="margin-top:40px;">
            <li>
                <div class="baoz-content">
                    <div>5</div>
                    <p>有必要的场地和设施</p>
                </div>
            </li>
            <li>
                <div class="baoz-content">
                    <div>6</div>
                    <p>公司及其主要出资者和主要经营管理人员三年内无违反电信监督管理制度的违法记录</p>
                </div>
            </li>
            <div class="clearfix"></div>
        </ul>
        <p class="z-p" style="margin-top:10px;">"国家规定的其他条件“具体指什么？每个地区的通信管理部门不一样哦，赶快找我们的客服咨询吧~</p>
        <a class="zixun" href="javascript:window.location=%27http://www.chuangha.com/Home/Contact%27" target="_blank">立即咨询</a>
    </div>

    <!--EDI许可证办理流程-->
    <div style="width:100%;margin:20px auto;padding:20px 0px;">
        <h2 class="about-h2">EDI许可证办理流程</h2>
        <div style="width:90%;margin:0 auto;">
            <div class="process1">
                <p>官方申请流程</p>
                <ul>
                    <li><span class="icon">1</span><span>申请域名/购买空间</span></li>
                    <li><span class="icon">2</span><span>制作网站/发布</span></li>
                    <li><span class="icon">3</span><span>提交网站备案至介入商</span></li>
                    <li><span class="icon">4</span><span>通管局代审核</span></li>
                    <li><span class="icon">5</span><span>准备基础材料/提交ICP许可证</span></li>
                    <li><span class="icon">6</span><span>通管局待审核</span></li>
                    <li><span class="icon">7</span><span>提交纸质材料至通管局</span></li>
                    <li><span class="icon">8</span><span>审核待定</span></li>
                </ul>
            </div>
            <div class="middle"><h2>vs</h2></div>
            <div class="process2">
                <p>厦门申请流程</p>
                <ul class="">
                    <li><span class="icon">1</span><span>咨询业务意向</span></li>
                    <li>
                        <span class="icon">2</span><span>商务合作洽谈</span>
                    </li>
                    <li>
                        <span class="icon">3</span><span>基础材料准备</span>
                    </li>
                   <li>
                        <span class="icon">4</span><span>提交审核</span>
                    </li>
                    <li >
                        <span class="icon">5</span><span>取许可证</span>
                    </li>
                    
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <p class="z-p" >厦门办理时间远低于官方流程时间，最快<font class="blue">60个工作日</font>办结,如需加急联系客服</p>
        <a class="zixun" href="javascript:window.location=%27http://www.chuangha.com/Home/Contact%27" target="_blank">立即咨询</a>
    </div>

    <!--如果您准备同我们合作 您需要准备-->
    <div style="height:580px; width:100%;padding:20px 0;margin:30px auto">
        <h2 class="about-h2 ">&nbsp;如果您准备同我们合作 您需要准备</h2>
        <ul class="hezuo">
            <li>
                <div><b></b></div>
                <p>营业执照副本</p>
            </li>
            <li class="data1">
                <div><b></b></div>
                <p>法人及股东身份证（注：股东为企业，需提供营业执照及公司章程）</p>
            </li>
            <li class="data2">
                <div><b></b></div>
                <p>网络与信息安全保障措施研究报告</p>
            </li>
            <li class="data3">
                <div><b></b></div>
                <p>公司主要管理人员及技术人员身份证</p>
            </li>
            <li class="data4">
                <div><b></b></div>
                <p>域名注册证书</p>
            </li>
            <div class="clearfix"></div>
        </ul>
        <ul class="hezuo" style=" margin-top:22px;">
            <li class="data5">
                <div><b></b></div>
                <p>服务器租赁（托管）协议</p>
            </li>
            <li class="data6">
                <div><b></b></div>
                <p>服务器接入方的ISP/IDC证</p>
            </li>
            <li class="data7">
                <div><b></b></div>
                <p>为用户提供长期服务和质量保障措施研究报告</p>
            </li>
            <li class="data8">
                <div><b></b></div>
                <p>业务发展和实施计划研究报告</p>
            </li>
            <li class="data9">
                <div><b></b></div>
                <p>技术方案研究报告</p>
            </li>
            <div class="clearfix"></div>
        </ul>
        <p class="z-p">太过繁杂？咨询厦门帮您整理</p>
        <a class="zixun" href="javascript:window.location=%27http://www.chuangha.com/Home/Contact%27" target="_blank">立即咨询</a>
    </div>

    <!--厦门服务保障-->
    <div style="width:100%;padding:20px 0">
        <h2 class="about-h2">厦门服务保障</h2>
        <ul class="call-baoz">
            <li >
                <div class="baoz-content">
                    <div><span></span></div>
                    <h4>经验丰富</h4>
                    <p>10年经验为您保驾护航</p>
                </div>
            </li>
            <li>
                <div class="baoz-content">
                    <div><span class="call-span1"></span></div>
                    <h4>一站式服务</h4>
                    <p>各个环节保障服务顺畅</p>
                </div>
            </li>
            <li>
                <div class="baoz-content">
                    <div><span class="call-span2"></span></div>
                    <h4>一对一高效服务</h4>
                    <p>专业对接人员,帮你节省不必要环节</p>
                </div>
            </li>
            <div class="clearfix"></div>
        </ul>
        <ul class="call-baoz" style=" margin-top:40px;">
            <li >
               <div class="baoz-content">
                    <div><span class="call-span3"></span> </div>
                    <h4>信息保密</h4>
                    <p>自有服务器保障客户数据安全专人保障客户资料免遭外泄</p>
               </div>
            </li>
            <li>
                <div class="baoz-content">
                    <div><span class="call-span4"></span></div>
                    <h4>专业品质</h4>
                    <p>服务均由3年以上资深人士操作保障品质</p>
                </div>
            </li>
            <li>
                <div class="baoz-content">
                    <div><span class="call-span5"></span></div>
                    <h4>全程服务</h4>
                    <p>售前咨询，下单5分钟内响应，关键环节100%提醒</p>
                </div>
            </li>
            <div class="clearfix"></div>
        </ul>
    </div>

    <!--您可能还需要-->
    <div style="height:380px;width:100%;background:#f5f5f5;padding:20px 0">
        <h2 class="about-h2">您可能还需要</h2>
        <div class="call-whj" style=" margin-top:40px;">
            <a class="lil10" href="javascript:window.location=%http://chuangha.com%27" target="_blank">
                <span class="l-span4"></span>
                <h3>呼叫中心许可证</h3>
                <p>企业运营电话呼入和呼出业务<br />服务，必须要办的许可证。</p>
                <font class="banli" ></font>
            </a>
            <a class="lil10" href="javascript:window.location=%http://chuangha.com%27" target="_blank">
                <span class="l-span1"></span>
                <h3>SP证书</h3>
                <p>SP证是在移动端涉及经营性<br />以及提供有偿信息服务时申请的。</p>
                <font class="banli"></font>
            </a>
            <a class="lil10" href="javascript:window.location=%http://chuangha.com%27" target="_blank">
                <span class="l-span2"></span>
                <h3>网络文化经营许可证</h3>
                <p>从事经营性互联网文化活动<br />的互联网信息服务提供者的<br />市场合法准入资质。</p>
                <font class="banli" ></font>
            </a>
            <a class="lil10" href="javascript:window.location=%http://chuangha.com%27" target="_blank">
                <span class="l-span3"></span>
                <h3>游戏备案</h3>
                <p>游戏运营您需要两种备案：<br />一种是游戏运营备案；<br />一种是游戏出版备案。</p>
                <font class="banli"></font>
            </a>
            <a style=" margin-left:0" class="lil10" href="javascript:window.location=%http://chuangha.com%27" target="_blank">
                <span></span>
                <h3>ICP证书</h3>
                <p>ICP证是在网站涉及经营性<br />以及提供有偿信息服务时申请的。</p>
                <font class="banli" ></font>
            </a>
        </div>
    </div>
    <block name="include">
        <include file="./Public/footer.html" />
    </block>