<block name="include">
    <include file="./Public/header.html" />
</block>

<body>
    <div class="banner">
        <div class="bd">
            <ul>
                <volist name="list" id="no">
                    <li>
                        <a href="{$no['url']}">
                            <img src="__PUBLIC__/img/{$no['imgpath']}" alt="幻灯片" />
                        </a>
                    </li>
                </volist>
            </ul>
        </div>
        <ul class="hd">
            <li class="on"></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <link href="__PUBLIC__/home/css/yxba.css" type="text/css" rel="stylesheet" />
    <script src="__PUBLIC__/home/js/yzh.js"></script>
    <script type="text/javascript">
        form_submit('demand_form');

        /*SuperSlide图片切换*/
        jQuery(".banner").slide({
            titCell: ".hd li",
            mainCell: ".bd ul",
            effect: "fold",
            autoPlay: true,
            easing: "easeOutCirc",
            interTime: 6000
        });
        $(function() {
            $('.yxbaBox2-con .name p').hover(function(){
                var text = $(this).html();
                $(this).addClass('active').siblings('p').removeClass('active')
                if(text=='游戏运营备案'){
                    $('#list6').hide()
                    $('#list5').show()
                }else{
                    $('#list5').hide()
                    $('#list6').show()
                }
            })
            $('.yxbaBox3-con .name p').hover(function(){
                var text = $(this).html();
                $(this).addClass('active').siblings('p').removeClass('active')
                if(text=='游戏运营备案'){
                    $('#list2').hide()
                    $('#list1').show()
                }else{
                    $('#list1').hide()
                    $('#list2').show()
                }
            })
            $('.yxbaBox4-con .name p').hover(function(){
                var text = $(this).html();
                $(this).addClass('active').siblings('p').removeClass('active')
                if(text=='游戏运营备案'){
                    $('#list4').hide()
                    $('#list3').show()
                }else{
                    $('#list3').hide()
                    $('#list4').show()
                }
            })
        })
    </script>
    
    <div class="yxbaBox1 " style="margin-top:67px;padding-top:1px;">
        <h2 class="about-h2">关于游戏运营 您需要了解</h2>
        <p class="minv-p">游戏运营您需要两种备案，一种是游戏运营备案，一种是游戏出版备案。</p>
        <ul class="yxbaBox1-con">
            <li>
                <div>
                    <img src="__PUBLIC__/home/images/img1.png" tppabs="http://www.gongsibao.com/st/yxba/1605/images/img1.png" />
                    <h3>游戏运营备案</h3>
                    <p>根据《网络游戏管理暂行办法》（文化部令第49号）的规定，<br />国产网络游戏在上网运营之日起30日内应当按规定向国务院文<br />化行政部门履行备案手续。</p>
                    <a href="javascript:window.location=%27http://182.131.21.139/gspt/ccm-action/domesticgame/searchGame%27" target="_blank" class="iuji1" style="background: #ef5c4c;margin-top: 4%;">游戏运营备案查询</a>
                </div>
            </li>
            <li>
                <div>
                    <img src="__PUBLIC__/home/images/img2.png" tppabs="http://www.gongsibao.com/st/yxba/1605/images/img2.png" />
                    <h3>游戏出版备案</h3>
                    <p>新闻出版总署也要求经营网络游戏的公司，每款产品需到新闻<br />出版署做一次互联网出版备案，通常也称游戏版号。</p>
                    <a href="javascript:window.location=%27http://www.sapprft.gov.cn/sapprft/zongshu/serviceList2.shtml?PublishmentSystemID=3966&FileName=&DpStyleone=China%27" target="_blank" class="iuji1" style="background: #f3bf1e;margin-top: 8%;">游戏版号查询</a>
                </div>
            </li>
        </ul>
    </div>
    
    <div class="yxbaBox2">
        <h2 class="about-h2">游戏备案办理流程</h2>
        <div class="yxbaBox2-con">
            <div class="name">
                <p class="active">游戏运营备案</p>
                <p>游戏出版备案</p>
            </div>
            <ul class="list" id="list5">
                <li><span>1</span>厦门核实客户办理条件</li>
                <li><span>2</span>客户公司提供相关材料</li>
                <li><span>3</span>厦门咨询撰写办理</li>
                <li><span>4</span>材料经由客户公司签字、盖章</li>
                <li><span>5</span>提交文化局、文化厅审核</li>
                <li><span>6</span>文化部复审</li>
                <li><span>7</span>办理完成游戏备案</li>
            </ul>
            <ul class="list" id="list6" style="display:none">
                <li><span>1</span>厦门核实客户办理条件</li>
                <li><span>2</span>客户公司提供相关材料</li>
                <li><span>3</span>厦门咨询撰写办理</li>
                <li><span>4</span>材料经由客户公司签字、盖章</li>
                <li><span>5</span>厦门提交出版社审核</li>
                <li><span>6</span>当地出版局初审</li>
                <li><span>7</span>新闻出版总署初审</li>
                <li><span>8</span>取得游戏版号</li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <a href="javascript:window.location=%27http://www.chuangha.com/Home/Contact%27" target="_blank" class="iuji1">咨询办理</a>
    </div>
    <div class="yxbaBox3">
        <h2 class="about-h2 ">游戏备案办理条件</h2>
        <div class="yxbaBox3-con">
            <div class="name">
                <p class="active">游戏运营备案</p>
                <p>游戏出版备案</p>
            </div>
            <ul class="list" id="list1">
                <li>
                    <div>申报单位已取得文化厅颁发的《网络文化经营许可证》</div>
                </li>
                <li >
                    <div>申报单位的产品上网运营时间未超过30日</div>
                </li>
                <li >
                    <div>需具备完整的业务发展计划及运营管理措施</div>
                </li>
                <li >
                    <div>备案游戏产品需符合《互联网文化管理暂行规定》《网络游戏管理暂行办法》</div>
                </li>
                <li >
                    <div>备案游戏产品需符合《中华人民共和国文化部令第49号令网络游戏管理暂行办法》</div>
                </li>
            </ul>
            <ul class="list" id="list2" style="display:none">
                <li>
                    <div>游戏开发或者运营公司取得软件著作权</div>
                </li>
                <li >
                    <div>有通信管理局颁发的"增值电信业务经营许可证"-ICP证</div>
                </li>
                <li >
                    <div>游戏产品需符合《互联网文化管理暂行规定》《网络游戏管理暂行办法》</div>
                </li>
                <li >
                    <div>游戏产品需符合《中华人民共和国文化部令第49号令网络游戏管理暂行办法》</div>
                </li>
            </ul>
        </div>
        <p class="none1" style="margin-top:5px;">还未取得相关资质和许可证？ 咨询办理</p>
        <a href="javascript:window.location=%27http://www.chuangha.com/Home/Contact%27" target="_blank" class="iuji1">立即咨询</a>
    </div>
    <div class="yxbaBox4">
        <h2 class="about-h2">如果您准备同我们合作 您需要准备</h2>
        <div class="yxbaBox4-con">
            <div class="name">
                <p class="active">游戏运营备案</p>
                <p>游戏出版备案</p>
            </div>
            <ul class="list" id="list3">
                <li >文化部网络游戏产品备案申报表</li>
                <li>产品主题以及内容说明书</li>
                <li>产品操作说明</li>
                <li >游戏中全部对白、旁白、描述性文字及游戏主题曲、插曲的歌词文本</li>
                <li >申请单位的《网络文化经营许可证》和《营业执照》复印件</li>
                <li >自行审核结果(含可能存在争议内容的相关说明)</li>
            </ul>
            <ul class="list" id="list4" style="display:none" >
                <li >游戏介绍</li>
                <li>测试帐号及密码(5组)</li>
                <li>游戏屏蔽词库</li>
                <li>游戏脚本</li>
                <li>彩色游戏截图(需附图片说明)</li>
                <li>防沉迷系统</li>
                <li>出版社审读报告</li>
                <li>出版合同</li>
                <li>出版与网络监管协议</li>
                <li> 企业法人营业执照复印件</li>
                <li>增值电信业务经营许可证复印件</li>
                <li>计算机软件著作权登记证书复印件</li>
            </ul>
        </div>
        <p class="none1" style="margin-top:5px;">太过繁杂？咨询厦门帮您梳理</p>
        <a href="javascript:window.location=%27http://www.chuangha.com/Home/Contact%27" target="_blank" class="iuji1">立即咨询</a>
    </div>
    <div class="yxbaBox5">
        <h2 class="about-h2">厦门服务保障</h2>
        <ul class="call-baoz">
            <li >
                <div class="baoz-content">
                    <div><span></span></div>
                    <h4>经验丰富</h4>
                    <p>10年经验为您保驾护航</p>
                </div>
            </li>
            <li>
                <div class="baoz-content">
                    <div><span class="call-span1"></span></div>
                    <h4>一站式服务</h4>
                    <p>各个环节保障服务顺畅</p>
                </div>
            </li>
            <li>
                <div class="baoz-content">
                    <div><span class="call-span2"></span></div>
                    <h4>一对一高效服务</h4>
                    <p>专业对接人员,帮你节省不必要环节</p>
                </div>
            </li>
            <div class="clearfix"></div>
        </ul>
        <ul class="call-baoz" style=" margin-top:40px;">
            <li >
               <div class="baoz-content">
                    <div><span class="call-span3"></span> </div>
                    <h4>信息保密</h4>
                    <p>自有服务器保障客户数据安全专人保障客户资料免遭外泄</p>
               </div>
            </li>
            <li>
                <div class="baoz-content">
                    <div><span class="call-span4"></span></div>
                    <h4>专业品质</h4>
                    <p>服务均由3年以上资深人士操作保障品质</p>
                </div>
            </li>
            <li>
                <div class="baoz-content">
                    <div><span class="call-span5"></span></div>
                    <h4>全程服务</h4>
                    <p>售前咨询，下单5分钟内响应，关键环节100%提醒</p>
                </div>
            </li>
            <div class="clearfix"></div>
        </ul>
    </div>
    <div class="yxbaBox6">
        <h2 class="about-h2">这些我们也能帮您办到</h2>
        <ul class="yxbaBox6-con">
            <li>
                <img src="__PUBLIC__/home/images/tu1.png" tppabs="http://www.gongsibao.com/st/yxba/1605/images/tu1.png" />
                <h3>网络文化经营许可证</h3>
                <p>企业具备《网络文化经营许可证》才算迈进了游戏运营的大门，此后再根据推广方式和运营方式的不同分别申请ICP证、游戏备案、游戏版号等资质</p>
                <a href="javascript:window.location=%27http://www.chuangha.com/Home/Contact%27" target="_blank"></a>
            </li>
            <li>
                <img src="__PUBLIC__/home/images/tu22.jpg" tppabs="http://www.gongsibao.com/st/yxba/1605/images/tu2.jpg" />
                <h3>ICP证书</h3>
                <p>ICP证是在网站涉及经营性以及提供有偿信息服务时申请的，在游戏运营的环节中主要作用于开通在线支付以及其他信息/活动收费等栏目功能</p>
                <a href="javascript:window.location=%27http://www.chuangha.com/Home/Contact%27" target="_blank"></a>
            </li>
            <li>
                <img src="__PUBLIC__/home/images/tu3.png" tppabs="http://www.gongsibao.com/st/yxba/1605/images/tu3.png" />
                <h3>SP证书</h3>
                <p>SP证是在移动端涉及经营性以及提供有偿信息服务时申请的，在游戏运营的环节中主要作用于开通在线支付以及其他信息/活动收费等栏目功能</p>
                <a href="javascript:window.location=%27http://www.chuangha.com/Home/Contact%27" target="_blank"></a>
            </li>
            <li>
                <img src="__PUBLIC__/home/images/tu4.png" tppabs="http://www.gongsibao.com/st/yxba/1605/images/tu4.png" />
                <h3>游戏著作权</h3>
                <p>是游戏软件厂商或者个人作者开发的尤为重要，游戏源代码泄露可通过此有效的保护自身的合法权益</p>
                <a href="javascript:window.location=%27http://www.chuangha.com/Home/Contact%27" target="_blank"></a>
            </li>
            <li style="background:none">
                <img src="__PUBLIC__/home/images/tu5.png" tppabs="http://www.gongsibao.com/st/yxba/1605/images/tu5.png" />
                <h3>游戏虚拟货币</h3>
                <p>虚拟货币主要由网络游戏服务商发行，用来购买游戏道具，如装备、服装等。需提交相关部门准入。</p>
                <a href="javascript:window.location=%27http://www.chuangha.com/Home/Contact%27" target="_blank" ></a>
            </li>
        </ul>
    </div>
    <block name="include">
        <include file="./Public/footer.html" />
    </block>