<block name="include">
    <include file="./Public/header.html" />
</block>
<style type="text/css">
.navMenu {
    display: none;
}
</style>

<body>
    <div class="breadCrumb">
        <h2 style="width:80%;margin:20px auto 0;text-align:center;font-size:30px;height:35px;line-height:35px;">联系我们</h2>
    </div>
    <div class="listWrapper grWidth clearfix">
        <!-- 左侧栏目 -->
        <div class="sidebar">
            <ul class="sidebarMenu">
                <li>
                    <a class="" href="__MODULE__/About/index" title="公司简介">公司简介</a>
                    <!-- <li>
              <a class="" href="/a/guanyu/gsdt/" title="公司动态">公司动态</a> -->
                <li>
                    <a class="" href="__MODULE__/About/team" title="服务团队">服务团队</a>
                <li>
                    <a class="" href="__MODULE__/Contact/index" title="联系我们">联系我们</a></li>
            </ul>
        </div>
        <div class="listRight">
            <div class="listBox">
                <div id="dituContent"></div>
                <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=POcNPQVBF1nME1bSo0GIFZ0c"></script>
                <script type="text/javascript" src="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.js"></script>
                <link rel="stylesheet" href="http://api.map.baidu.com/library/SearchInfoWindow/1.5/src/SearchInfoWindow_min.css" />
                <script type="text/javascript">
                // 百度地图API功能
                var map = new BMap.Map('dituContent');
                var poi = new BMap.Point(118.187398, 24.492533);
                map.centerAndZoom(poi, 15);
                map.enableScrollWheelZoom();

                var content = '<div>' + "地址：福建省厦门市思明区软件园二期观日路24号楼二单元305室<br/>电话：18650801179<br/>" + '</div>';

                //创建检索信息窗口对象
                var searchInfoWindow = null;
                searchInfoWindow = new BMapLib.SearchInfoWindow(map, content, {
                    title: "创哈网络",
                    //标题
                    width: 250,
                    //宽度
                    height: 60,
                    //高度
                    //panel  : "panel",         //检索结果面板
                    enableAutoPan: false,
                    //自动平移
                    searchTypes: []
                });
                var marker = new BMap.Marker(poi); //创建marker对象
                searchInfoWindow.open(marker);
                marker.addEventListener("click",
                    function(e) {
                        searchInfoWindow.open(marker);
                    });
                map.addOverlay(marker); //在地图中添加marker
                </script>
                <div class="contactBox hidden">
                    <volist name="li" id="row">
                        {$row['content']}
                    </volist>
                </div>
            </div>
        </div>
    </div>
    <block name="include">
        <include file="./Public/footer.html" />
    </block>