<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>
            X-admin v1.0
        </title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="__PUBLIC__/css/x-admin.css" media="all">
    </head>
    
    <body>
        <div class="x-body">
            <form  action="__MODULE__/Pic/insert" method="post" enctype="multipart/form-data">
                 <div class="layui-form-item">
                    <label  class="layui-form-label">
                    <span class="x-red">*</span>项目名称
                    </label>
                        <div class="layui-input-inline" style="width:120px;text-align: left">
                        <select name="goods_id">
                              <foreach name="list" item="row">
                                <option value="{$row['id']}">{$row['name']}</option>
                                </foreach>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>服务图片
                    </label>
                    <div class="layui-input-inline">
                      <div class="site-demo-upbar">
                        <input type="file" name="pic[]"  id="test">
                      </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="add" lay-submit="">
                        增加
                    </button>
                </div>
            </form>
        </div>
        <script src="__PUBLIC__/lib/layui/layui.js" charset="utf-8">
        </script>
        <script src="__PUBLIC__/js/x-layui.js" charset="utf-8">
        </script>
        <script>
            layui.use(['form','layer','upload'], function(){
                $ = layui.jquery;
              var form = layui.form()
              ,layer = layui.layer;


              //图片上传接口
              layui.upload({
                url: './upload.json' //上传接口
                ,success: function(res){ //上传成功后的回调
                    console.log(res);
                  $('#LAY_demo_upload').attr('src',res.url);
                }
              });
            

            // form.on('submit(add)', function(data){
            //     console.log(data);
                
            //     //发异步，把数据提交给php
            //     layer.alert("增加成功", {icon: 6},function () {
            //          var data = new FormData($('.layui-form')[0]);
            //     $.ajax({  
            //             url: '__URL__/insert' ,  
            //             type: 'POST',  
            //             data: data,  
            //             async: false,  
            //             cache: false,  
            //             contentType: false,  
            //             processData: false,  
            //             success: function (data) {  
            //                 alert(data);
            //             }
            //         }); 
            //         // 获得frame索引
            //         var index = parent.layer.getFrameIndex(window.name);
            //         //关闭当前frame
            //         parent.layer.close(index);
            //     });
            //     return false;
            //   });
              
              
            });
        </script>
        <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
    </body>

</html>