<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            X-admin v1.0
        </title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="__PUBLIC__/css/x-admin.css" media="all">
    </head>
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
              <a><cite>首页</cite></a>
              <a><cite>会员管理</cite></a>
              <a><cite>轮播列表</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"  href="javascript:location.replace(location.href);" title="刷新"><i class="layui-icon" style="line-height:30px">ဂ</i></a>
        </div>
       
        <div class="x-body">
            <xblock>
                <button class="layui-btn layui-btn-danger del" onclick="del()">删除</button>
            <button class="layui-btn layui-btn-danger alldel" onclick="alldel()">全选</button>
            <button class="layui-btn layui-btn-success nodel" onclick="nodel()">全不选</button>
             <button class="layui-btn layui-btn-info fdel" onclick="fdel()">反选</button>
                <button class="layui-btn" onclick="banner_add('添加用户','__URL__/add','600','500')"><i class="layui-icon">&#xe608;</i>添加</button>
            </xblock>
             <div id="uid">
            <table class="layui-table">
                <thead>
                    <tr>
                        <th>
                          
                        </th>
                        <th>
                            ID
                        </th>
                        <th>
                            项目名称
                        </th>
                        <th>
                            图片
                        </th>
                        <th>
                            操作
                        </th>
                    </tr>
                </thead>
                <tbody id="x-img">
                    <foreach name="list" item="row">
                    <tr>
                        <td>
                           <input type="checkbox" value="{$row['id']}" name="id[]">
                        </td>
                        <td>
                            {$row['id']}
                        </td>
                        <td>
                            {$row['name']}
                        </td>
                        <td >
                            <img src="__ROOT__/Public/images/{$row['pic']}" width="100px" height="100px">
                        </td>
                        <td class="td-manage">
                        
                            <a title="编辑" href="javascript:;" onclick="banner_edit('编辑','__URL__/edit?id={$row['id']}','4','','510')"
                            class="ml-5" style="text-decoration:none">
                                <i class="layui-icon">&#xe642;</i>
                            </a>
                            <a title="删除" href="javascript:;" onclick="banner_del(this,'{$row['id']}')" 
                            style="text-decoration:none">
                                <i class="layui-icon">&#xe640;</i>
                            </a>
                        </td>
                    </tr>
                </foreach>
                </tbody>
            </table>
        </div>

            <div id="page">
                <foreach name="pp" item="value">
                <a href="javascript:void(0)" onclick="page({$value})"><div style="width:30px;height:30px;text-align:center;line-height:30px;border:1px solid #ccc;float:left">{$value}</div></a>
                </foreach>
            </div>
        </div>
        <script src="__PUBLIC__/lib/layui/layui.js" charset="utf-8"></script>
        <script src="__PUBLIC__/js/x-layui.js" charset="utf-8"></script>
        <script>
        //全选
            function alldel(){
                // alert("sss");
               $("input[type='checkbox']").prop("checked",true);
            }
            //全不选
            function nodel(){
                $("input[type='checkbox']").prop("checked",false);
        }
            //反选
            function fdel(){
                  //1.获取选中的input
                  s=$("input:checked");
                  // alert(s);
                //2.把其他没有选中的input 设置选中
               $("input[type='checkbox']").prop('checked',true);
                //3.把第一次手动选中的input框 取消选中
                s.attr('checked',false);
            }

            function del(){
                a=[];//存储选中的数据id
                //获取选中的数据的id
                $(":checkbox").each(function(){
                    //判断是否选中
                    if($(this).prop("checked")){
                        id=$(this).val();
                        a.push(id);
                    }
                });
                // alert(a);exit;
                s=confirm("你确定删除?");
                if(s){
                    $.get("__URL__/delall",{id:a},function(data){
                        // alert(data);
                        //删除选中的数据的html tr
                        for(var i=0;i<a.length;i++){
                            //获取选中的input
                            $("input[value="+a[i]+"]").parents("tr").remove();
                        }
                    });
                }
            }
              //ajax分页
            function page(page){
            $.get("__URL__/index",{page:page},function(data){
                //把响应数据赋值给id 为uid的div
                $("#uid").html(data);
            });
        }
            layui.use(['laydate','element','laypage','layer'], function(){
                $ = layui.jquery;//jquery
              laydate = layui.laydate;//日期插件
              lement = layui.element();//面包导航
              laypage = layui.laypage;//分页
              layer = layui.layer;//弹出层

              //以上模块根据需要引入

                layer.ready(function(){ //为了layer.ext.js加载完毕再执行
                  layer.photos({
                    photos: '#x-img'
                    //,shift: 5 //0-6的选择，指定弹出图片动画类型，默认随机
                  });
                }); 
              
            });

            
             /*添加*/
            function banner_add(title,url,w,h){
                x_admin_show(title,url,w,h);
            }
             /*停用*/
            function banner_stop(obj,id,uid){
                layer.confirm('确认修改为上部分吗？',function(index){
                    $.get("__URL__/locationupdate",{'location':0,'id':uid},function(data){
                        // alert(data);

                    });
                    //发异步把用户状态进行更改
                    $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="banner_start(this,id)" href="javascript:;" title="下部分"><i class="layui-icon">&#xe62f;</i></a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="layui-btn layui-btn-disabled layui-btn-mini">上部分</span>');
                    $(obj).remove();
                    layer.msg('已修改为上半部分!',{icon: 5,time:1000});
                });
            }

            /*启用*/
            function banner_start(obj,id,uid){
                layer.confirm('确认修改为下部分吗？',function(index){
                    //发异步把用户状态进行更改
                    $.get("__URL__/locationupdate",{'location':1,'id':uid},function(data){
                        // alert(data);
                    });
                    $(obj).parents("tr").find(".td-manage").prepend('<a style="text-decoration:none" onClick="banner_stop(this,id)" href="javascript:;" title="上部分"><i class="layui-icon">&#xe601;</i></a>');
                    $(obj).parents("tr").find(".td-status").html('<span class="layui-btn layui-btn-normal layui-btn-mini">下部分</span>');
                    $(obj).remove();
                    layer.msg('已修改为下部分!',{icon: 6,time:1000});
                });
            }
            // 编辑
            function banner_edit (title,url,id,w,h) {
                x_admin_show(title,url,w,h); 
            }
            /*删除*/
            function banner_del(obj,id){
               layer.confirm('确认要删除吗？',function(index){
                    //发异步删除数据
                     $.get('__CONTROLLER__/delete',{'id':id},function(da){
                        if(da==1){
                            $(obj).parents("tr").remove();
                             layer.msg('已删除!',{icon:1,time:1000});
                        }else{
                             layer.msg('删除失败!',{icon:2,time:1000});
                        }
                     });
                });
            }
            </script>
            <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
    </body>
</html>