<!DOCTYPE html>
<html>
    
    <head>
        <meta charset="utf-8">
        <title>
            X-admin v1.0
        </title>
        <meta name="renderer" content="webkit">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="__PUBLIC__/css/x-admin.css" media="all">
        <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
        <script type="text/javascript" charset="utf-8" src="__PUBLIC__/ueditor/ueditor.all.min.js"> </script>
        <script type="text/javascript" src="__PUBLIC__/ueditor/lang/zh-cn/zh-cn.js"></script>
    </head>
    
    <body>
        <div class="x-body">
            <form    class="layui-form">
              <div class="layui-form-item">
                    <label for="L_title" class="layui-form-label">
                        标题
                    </label>
                    <div class="layui-input-block">
                        <input type="text" id="L_title" name="title" required lay-verify="title"
                        autocomplete="off" class="layui-input" value="{$list['title']}">
                    </div>
                </div>
              <div class="layui-form-item">
                    <label for="L_title" class="layui-form-label">
                        关键词
                    </label>
                    <div class="layui-input-block">
                        <input type="text" id="L_title" name="keywords" required lay-verify="title"
                        autocomplete="off" class="layui-input" value="{$list['keywords']}">
                    </div>
                </div>
              <div class="layui-form-item">
                    <label for="L_title" class="layui-form-label">
                        网站描叙
                    </label>
                    <div class="layui-input-block">
                        <input type="text" id="L_title" name="description" required lay-verify="title"
                        autocomplete="off" class="layui-input" value="{$list['description']}">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="name" class="layui-form-label">
                        <span class="x-red">*</span>服务名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="name" name="name" value="{$list['name']}" required="" lay-verify="name"
                        autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label  class="layui-form-label">
                    <span class="x-red">*</span>商品类别
                    </label>
                        <div class="layui-input-inline" style="width:120px;text-align: left">
                        <select name="cate_id">
                              <foreach name="cate1" item="row">
                                <option value="{$row['id']}" <if condition="($list['cate_id']) eq ($row['id'])">selected</if>>{$row['name']}</option>
                                </foreach>
                        </select>
                    </div>
                </div>
                
                <div class="layui-form-item">
                    <label for="desc" class="layui-form-label">
                        <span class="x-red">*</span>描述
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="desrc" name="content" value="{$list['content']}" required="" lay-verify="required"
                        autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label for="name" class="layui-form-label">
                        <span class="x-red">*</span>服务介绍
                    </label>
                    <div class="layui-input-block">
                        <script id="editor" type="text/plain" style="width:1024px;height:500px;">{$list['desrc']}</script>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>咨询QQ
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="qq" name="qq" value="{$list['qq']}" required="" lay-verify="price"
                        autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="link" class="layui-form-label">
                        <span class="x-red">*</span>商品状态
                    </label>
                     <div class="layui-input-inline" style="width:120px;text-align: left">
                        <select name="status" id="status">
                            <option value="0" <if condition="$list['status'] eq 0">selected</if>>下架</option>
                             <option value="1"  <if condition="$list['status'] eq 1">selected</if>>上架</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label for="L_repass" class="layui-form-label">
                    </label>
                    <button  class="layui-btn" lay-filter="save" lay-submit="">
                        保存
                    </button>
                </div>
                <input type="hidden" name="id" value="{$list['id']}">
            </form>
        </div>
        <script src="__PUBLIC__/lib/layui/layui.js" charset="utf-8">
        </script>
        <script src="__PUBLIC__/js/x-layui.js" charset="utf-8">
        </script>
        <script src="__PUBLIC__/js/jquery.min.js"></script>
        <script>
            UE.getEditor('editor');
            layui.use(['form','layer','upload'], function(){
                $ = layui.jquery;
              var form = layui.form()
              ,layer = layui.layer;
              //自定义验证规则
               form.verify({
                    name:function(value){
                    if(value.length < 1 || value.length>15){
                    return '昵称至少得1个字符至多15个字符';
                  }
                }



                ,num: [/^[0-9]*[0-9][0-9]*$/, '库存量必须为正整数']
                ,price: [/^[+]{0,1}(\d+)$|^[+]{0,1}(\d+\.\d+)$/, '请输入正确的价格']
               });
              //图片上传接口
              // layui.upload({
              //   url: './upload.json' //上传接口
              //   ,success: function(res){ //上传成功后的回调
              //       console.log(res);
              //     $('#LAY_demo_upload').attr('src',res.url);
              //   }
              // });
            

              //监听提交
              form.on('submit(save)', function(data){
                console.log(data);
                
                //发异步，把数据提交给php
                layer.alert("保存成功", {icon: 6},function () {
                     var data = new FormData($('.layui-form')[0]);
                $.ajax({  
                        url: '__URL__/update' ,  
                        type: 'POST',  
                        data: data,  
                        async: false,  
                        cache: false,  
                        contentType: false,  
                        processData: false,  
                        success: function (data) {  
                            // alert(data);
                        }
                    }); 
                    // 获得frame索引
                    var index = parent.layer.getFrameIndex(window.name);
                    //关闭当前frame
                    window.parent.location.reload();
                    parent.layer.close(index);
                });
                return false;
              });
              
              
            });
        </script>
        <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
          var s = document.getElementsByTagName("script")[0]; 
          s.parentNode.insertBefore(hm, s);
        })();
        </script>
    </body>

</html>