<block name="include"><include file="./Public/header.html" /></block>
<style type="text/css">
.navMenu {
  display:none;
}
</style>
<body>
    <div class="breadCrumb">
      <div class="grWidth">
        <span>您现在的位置：</span>
        <a href="/">首页</a>
        <em>></em>
        <a class="" href="/fuwuxiangmu.html">服务项目</a>>
        <a class="bc" href="/gongsizhuceyucaishui.html">公司注册</a></div>
    </div>
    <div class="proShow grWidth">
      <div class="proShow_left fl">
        <div class="proShow_box1">
          <div class="proShow_img fl">
            <img src="__PUBLIC__/home/images/1-1G00F14H60-L.jpg" alt="游戏备案" width=""></div>
          <div class="proShow_synopsis fr">
            <h3 class="title">游戏备案</h3>
            <div class="font">创吖网络cyawl.com 根据文化部要求在游戏上线运营后游戏上线运营后游戏上线运营后的30日内到文化部做游戏运营备案。为企业提供从游戏备案咨询到相关游戏备案材料的准备，协助企业申请备案</div>
            <p class="price">服务价格：
              <span>
                <i>￥</i>面议</span>
            </p>
            <p class="btn">
              <a href="">我也要工商注册</a>
              <a class="zx" href="tencent://Message/?Uin=2945456902&websiteName=qzone.qq.com&Menu=yes">
                <i>
                </i>立即咨询</a>
            </p>
          </div>
        </div>
        <div class="proShow_box2">
          <h3 class="title">
            <span>服务介绍</span></h3>
          <div class="main">
            <img alt="" src="__PUBLIC__/home/images/1-1G00F14JA40.jpg" style="width: 960px; height: 1936px;" />
            <br />
            <br /></div>
        </div>
        <div class="proShow_box3">
          <h3 class="title">
            <span>为什么选择我们？</span></h3>
          <ul class="main">
            <li>
              <span class="sImg">
                <img src="__PUBLIC__/home/images/odds1.jpg" alt="专业服务顾问团队"></span>
              <h4>专业服务顾问团队</h4>
              <p>专业的商务顾问与服务顾问团队，1对1为您量身订做方案，解决各种问题</p>
            </li>
            <li>
              <span class="sImg">
                <img src="__PUBLIC__/home/images/odds2.jpg" alt="系统管理 办理时间更快"></span>
              <h4>系统管理 办理时间更快</h4>
              <p>行业领先的信息化系统，与政务数据对接，业务办理流程时间监控，超期自动预警，办理时间更快</p>
            </li>
            <li>
              <span class="sImg">
                <img src="__PUBLIC__/home/images/odds3.jpg" alt="专业服务顾问团队"></span>
              <h4>专业服务顾问团队</h4>
              <p>提供工商、会计代理、知产项目、互联网、融资贷款、法律、 地产装饰、品牌、资质、财税等多种企业整合服务</p>
            </li>
            <li>
              <span class="sImg">
                <img src="__PUBLIC__/home/images/odds4.jpg" alt="办理进度随时随地查询"></span>
              <h4>办理进度随时随地查询</h4>
              <p>可通过我们的客服人员/商务顾问/APP/网站/微信服务号/短信提醒，随时随地获知办理进度</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="proShow_right fr">
        <block name="include"><include file="./Public/demand.html" /></block>
            <ul></ul>
          </div>
        </div>
        <script type="text/javascript" src="__PUBLIC__/home/js/layer.js"></script>
        <script src="__PUBLIC__/home/js/yzh.js"></script>
        <script>form_submit('demand_form');
          jQuery(".demand_box").slide({
            mainCell: "ul",
            autoPlay: true,
            effect: "topMarquee",
            vis: 2,
            interTime: 60
          });</script>
        <div class="right_team">
          <h3 class="title">
            <span>选择服务人员</span></h3>
          <div class="ohbox">
            <ul>
              <li>
                <a href="/a/guanyu/fwtd/2017/1019/48.html">
                  <img src="__PUBLIC__/home/images/1-1G0191P32X52-lp.jpg" alt="王明焜">
                  <p>王明焜</p>
                </a>
              </li>
              <li>
                <a href="/a/guanyu/fwtd/2017/1019/55.html">
                  <img src="__PUBLIC__/home/images/1-1G0191T1200-L.jpg" alt="林小桃">
                  <p>林小桃</p>
                </a>
              </li>
              <li>
                <a href="/a/guanyu/fwtd/2017/1019/54.html">
                  <img src="__PUBLIC__/home/images/1-1G0191S6000-L.jpg" alt="章海英">
                  <p>章海英</p>
                </a>
              </li>
              <li>
                <a href="/a/guanyu/fwtd/2017/1019/53.html">
                  <img src="__PUBLIC__/home/images/1-1G0191S2450-L.jpg" alt="王玲">
                  <p>王玲</p>
                </a>
              </li>
              <li>
                <a href="/a/guanyu/fwtd/2017/1019/52.html">
                  <img src="__PUBLIC__/home/images/1-1G0191S0220-L.jpg" alt="陈宇">
                  <p>陈宇</p>
                </a>
              </li>
              <li>
                <a href="/a/guanyu/fwtd/2017/1019/51.html">
                  <img src="__PUBLIC__/home/images/1-1G0191RH00-L.jpg" alt="林国庄">
                  <p>林国庄</p>
                </a>
              </li>
              <li>
                <a href="/a/guanyu/fwtd/2017/1019/50.html">
                  <img src="__PUBLIC__/home/images/1-1G0191R624129.jpg" alt="黄辉">
                  <p>黄辉</p>
                </a>
              </li>
              <li>
                <a href="/a/guanyu/fwtd/2017/1019/49.html">
                  <img src="__PUBLIC__/home/images/1-1G0191R2364D.jpg" alt="吴少伟">
                  <p>吴少伟</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <script>jQuery(".right_team").slide({
        mainCell: ".ohbox ul",
        autoPlay: true,
        effect: "topMarquee",
        vis: 4,
        interTime: 50
      });</script>
    <!--优势-->
    <block name="include"><include file="./Public/footer.html" /></block>