@charset "utf-8";
.clear{clear:both;}
.left{ float:left}
.right{ float:right}
.about-h2{width: 100%;text-align: center;font-size: 30px;color: #404040;font-weight: 700;margin-bottom:20px;}
.z-p{text-align:center;color:#000;font-weight:bold;font-size:16px;}
.zixun{ background:url(../images/bj1.png) no-repeat; width:130px; height:31px; line-height:31px; color:#fff; margin:15px auto 0; text-align:center; font-size:14px; display:block; background-position:-114px 0px}
.zixun:hover{background-position:-114px -40px}

/*什么是EDI许可证代码*/
.call-center1 li{width: 25%;float:left;height:180px;padding:0px 20px 5px;margin-top:10px;box-sizing:border-box;}
.call-center1 li>div{width:90%;height:100%; margin:0 auto;border-top-left-radius:85px;border-bottom-right-radius:85px;background-color: #f0f0f0;}
.call-center1 li h3{ text-align:center; font-size:18px;overflow:hidden;line-height:44px;}
.call-center1 li p{  font-size:14px;line-height:24px;padding:10px 15px 0;color:#999;}


/*申请EDI许可证需要什么条件*/
.condition{ width:90%; margin:55px auto 0;}
.condition li{float:left; width:25%; height:135px;padding-right:15px;padding-left: 15px;position:relative;box-sizing:border-box;}
.condition li .baoz-content{height:100%;padding:20px 25px;background:#f5f5f5;position:relative;box-sizing:border-box;}
.condition li .baoz-content div{ position:absolute;width:50px;height:50px;line-height:50px;background: #707070;
    border-radius:40px;top:-20%;left:5%;text-align:center;font-size:20px;color:#fff;}
.condition li p{ color:#999;font-size:14px;margin-top:10px;height:100%;overflow:hidden;}

/*EDI许可证办理流程*/
.process{ width:90%; margin:55px auto 0;}
.process li{ float:left; width:20%; height:160px;text-align:center;position:relative;min-height:1px;padding-right:15px;padding-left: 15px;box-sizing:border-box;}
.process li div{width:80px;height:80px;line-height:80px;border-radius:80px;font-size:20px;font-weight:bold;color:#707070;background:#DBDBDB;margin: 0 auto ;position:relative;box-sizing:border-box;}
.process li p{ line-height:18px; font-size:14px; margin-top:20px;color:#999;}



/*如果您准备同我们合作 您需要准备*/
.hezuo{width:90%; margin:55px auto 0;}
.hezuo li{ float:left; width:20%; height:180px;text-align:center; position: relative;min-height: 1px;padding-right: 15px;padding-left: 15px;box-sizing:border-box;}
.hezuo li>div{width: 80px;height: 80px;border-radius: 80px;background: #DBDBDB;margin: 0 auto ;position: relative;padding: 16px 0 0;box-sizing:border-box;}
.hezuo li p{ line-height:18px; font-size:14px; margin-top:20px;color:#999;}
.hezuo li b{ background:url(../images/bj1.png) no-repeat -114px -330px; width:31px; height:30px; display:block; margin:13px auto 0; overflow:hidden}
.hezuo li.data1 b{ background-position:-154px -330px;}
.hezuo li.data2 b{ background-position:-189px -330px;}
.hezuo li.data3 b{ background-position:-227px -330px;}
.hezuo li.data4 b{ background-position:-268px -330px;}
.hezuo li.data5 b{ background-position:-307px -330px;}
.hezuo li.data6 b{ background-position:-343px -330px;}
.hezuo li.data7 b{ background-position:-114px -369px;}
.hezuo li.data8 b{ background-position:-154px -369px;}
.hezuo li.data9 b{ background-position:-192px -369px;}



/*汉唐服务保障*/
.call-baoz{ width:90%; margin:55px auto 0;}
.call-baoz li{
	float:left; 
	width:33.33%; 
    height: 155px;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
	box-sizing:border-box;
}
.call-baoz li .baoz-content{
	height:100%;
	padding:30px;
	background:#f5f5f5;
	position:relative;
	box-sizing:border-box;
}
.call-baoz li .baoz-content div{ 
	position: absolute;
    width: 50px;
    height: 50px;
    background: #707070;
    border-radius: 40px;
    top: -20%;
    left: 5%;
    text-align: center;
}
.call-baoz li .baoz-content div span{ width:34px;height:34px;background:url(../images/bj1.png) no-repeat -114px -84px;position:absolute;left:9px;top:4px;}
.call-baoz li h4{ margin-top:10px;font-size: 20px;color: #212121;text-transform:capitalize;line-height: 32px;padding-bottom: 5px;}
.call-baoz li p{ color:#999;font-size:14px; }
.call-baoz li div span.call-span1{ background-position:-114px -126px ; width:36px;left:8px;}
.call-baoz li div span.call-span2{ background-position:-114px -171px ; height:21px;top:12px;}
.call-baoz li div span.call-span3{ background-position:-166px -84px ; width:29px;left:11px;top:5px;}
.call-baoz li div span.call-span4{ background-position:-166px -126px ; width:31px;left:11px;top:8px;}
.call-baoz li div span.call-span5{ background-position:-166px -171px ; width:22px;left:14px;top:9px;}


/*您可能还需要*/
.call-whj{ width:90%; margin:0 auto; overflow:hidden}
.call-whj .lil10{ float:left;width:20%; height:235px;text-align:center; border:1px solid #f0f3f8;color:#949494;padding:10px 20px;box-sizing:border-box;background: url(../images/img4.png) no-repeat top right;}
.call-whj .lil10:last-child{background:none;}
.call-whj .lil10 span{ display:block;background:url(../images/bj1.png) no-repeat -114px -222px; width:49px; height:41px; margin:25px auto 0; }
.call-whj .lil10 span.l-span1{ background-position: -168px -224px; width:42px;}
.call-whj .lil10 span.l-span2{ background-position: -212px -222px; height:41px;}
.call-whj .lil10 span.l-span3{background-position: -319px -221px; width:44px; }
.call-whj .lil10 span.l-span4{ background-position: -262px -221px; width:44px;}
.call-whj .lil10 h3{ color:#3a3a3a; font-size:16px; height:50px; line-height:50px; overflow:hidden}
.call-whj .lil10 b{ height:1px; width:65px; border-top:1px solid #04bae1; margin:0 auto; overflow:hidden; display:block}
.call-whj .lil10 p{ line-height:21px; overflow:hidden;height:74px;font-size:14px;color:#999;}
.banli{background: url(../images/anniu2.jpg) no-repeat;width: 118px;height: 31px;display: block;margin: 0px auto;overflow: hidden;}
.banli:hover {background: url(../images/anniu1.png) no-repeat;width: 118px;height: 31px;}


