@charset "utf-8";
/**
深圳市国人伟业信息技术有限公司
http://www.grwy.cn/
**/
fieldset,img{border:0;}
img{vertical-align:middle;}
ol,ul,li{list-style-type:none;}
table{border-collapse:collapse;border-spacing:0;}
button,input,select,textarea{font-size:13px;font-family:inherit;margin:0;outline:none;resize:none;border:none;}
.clearfix:after {clear: both; content: "."; display:block; height: 0; overflow: hidden; visibility: hidden; }
.clearfix { zoom:1;}
a{color:#454545;text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur());transition:all 0.3s;}
a:hover{color:#2aa0c4 ;text-decoration:none;}:focus{outline:none;}

/* CSS活动的公共样式 */
.fl{float:left;}
.fr{float:right;}
.grWidth{width:1200px; margin:0 auto;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb25{margin-bottom:25px;}
.center{text-align:center;}
.hide{overflow:hidden;}
.erp{white-space:nowrap;overflow:hidden;text-overflow: ellipsis;}

/* 菜单  */
#menu{width:180px;height: auto; position: fixed;top:50%;left:0;box-shadow:1px 1px 3px #ccc;font-size:16px;margin-top:-180px;z-index:9;}
#menu ul{display: block;list-style: none;}
#menu ul li a{width:180px;height:60px;line-height:60px;text-align: center;background:#fff;border-bottom:1px solid #e8e8e8;color:#333;display:block;position:relative;}
#menu ul li a:hover,#menu ul li a.cur{background:#2ca0c4;color: #fff;}
#menu ul li a:after{content:"";position:absolute;right:-15px;top:24px;border:8px solid transparent;}
#menu ul li a:hover:after,#menu ul li a.cur:after{border-left-color:#2ca0c4;}

/* 在线客服样式 */
.kefuBox{position:fixed;z-index:1000;top:180px;right:0;width:auto; _position:absolute;_top: expression(documentElement.scrollTop +45);}
.kefuBox .kefuLeft{float:left;overflow:hidden;width:30px;height: 157px;cursor:pointer;background:url(../images/kefu_l.png)/*tpa=http://www.4db.com/zhuanti/images/kefu_l.png*/ no-repeat}
.kefuBox .kefuRight{display:block;float:left;overflow:hidden;width:155px;}
.kefuBox .kefuTop{width:154px;height:46px;background:url(../images/kefu_top.png)/*tpa=http://www.4db.com/zhuanti/images/kefu_top.png*/ no-repeat;}
.kefuBox .kefuClose{float:right;overflow:hidden;width:154px; height:46px;display:block;cursor:pointer;}
.kefuBox .kefuBottom{width:154px;height:12px;background:url(../images/kefu_bottom.png)/*tpa=http://www.4db.com/zhuanti/images/kefu_bottom.png*/ no-repeat;}
.kefuBox .kefuCont{width:130px;padding:0 12px;background:url(../images/kefu_line.png)/*tpa=http://www.4db.com/zhuanti/images/kefu_line.png*/ repeat-y;overflow:hidden;}
.kefuBox .kefuCont ul{margin:0;padding:0;}
.kefuBox .kefuCont ul li{width:80px;line-height:28px;overflow:hidden;height:28px;padding-left:40px;padding-right:10px;text-overflow:ellipsis;white-space:nowrap;margin-bottom:5px;}
.kefuBox .kefuCont ul li a{color:#fff;display:block;}
.kefuBox .kefuCont ul li.pic{width:130px;height:89px;margin-bottom:10px;padding:0;}
.kefuBox .kefuCont ul li.qq{background: #1E4E72 url(qq_icon.png)/*tpa=http://www.4db.com/zhuanti/images/qq_icon.png*/ no-repeat;}
.kefuBox .kefuCont ul li.wang{background: #1E4E72 url(wangwang.png)/*tpa=http://www.4db.com/zhuanti/images/wangwang.png*/ no-repeat}
.kefuBox .kefuCont ul li.spk{background: #1E4E72 url(skype.png)/*tpa=http://www.4db.com/zhuanti/images/skype.png*/ no-repeat}
.kefuBox .kefuCont ul li.codeer{display:block;width:130px;height: 165px;text-align:center;color:#fff;padding:10px 0 0;font-family:"微软雅黑";font-size:14px;margin-bottom:0;}
.kefuBox .kefuCont ul li.codeer p{display:block;height:35px;line-height:35px;}
.kefuBox .kefuCont ul li.codeer span{display:block;width:116px;height:116px;padding:7px;background:url(../images/cobj.png)/*tpa=http://www.4db.com/zhuanti/images/cobj.png*/ no-repeat;}
.kefuBox .kefuCont ul li.codeer span img{width:116px;height:116px;}

/* ICP */
.iTitle{text-align:center;font-weight:normal;text-transform: uppercase;font-size:30px;line-height:30px;color:#222;position:relative;margin-bottom:40px;}
.iTitle span{display:block;color:#bdbdbd;font-family:Arial;font-size:18px;letter-spacing:1px;}
.iTitle strong{font-weight:normal;padding:0 20px;position:relative;z-index:2;background:#fff;}
.iTitle:after{content:"";position:absolute;height:1px;left:0;top:45px;background:#dadada;width:100%;}
.icpBox1 .main{font-size:16px;padding:25px 510px 0 0;background: url("icp_1.jpg")/*tpa=http://www.4db.com/zhuanti/images/icp_1.jpg*/ no-repeat right top;line-height:32px}
.icpBox1 .font{height:255px;overflow:hidden;}
.icpBox1 .phone{display:inline-block;padding:0 20px;height:50px;line-height:50px;color:#fff;background:#2aa0c4;border-radius:3px;margin-left:130px;}
.icpBox1 .phone span{font-size:20px;}


.icpBox2,.icpBox4,.icpBox8,.textBox4,.textBox6,.rjzzBox2,.rjzzBox4,.gray{background:#f4f4f4;}
.icpBox2 .iTitle strong,.icpBox4 .iTitle strong,.icpBox8 .iTitle strong,.textBox2 .iTitle strong,.textBox4 .iTitle strong,.textBox6 .iTitle strong,.iTitle2 strong{background:#f4f4f4;}
.icpBox2 .box{float:left;width:380px;text-align:center;}
.icpBox2 .box2{margin:0 30px;}
.icpBox2 .box p{height:49px;line-height:49px;border-bottom:1px dotted #dbdbdb;}
.icpBox2 .box h4{font-size:30px;color:#00a958;line-height:30px;margin-top:15px;}
.icpBox2 .box2 h4{color:#2aa0c4;}
.icpBox2 .box3 h4{color:#ffa200;}

.icpBox3,.icpBox9{text-align:center;}
.icpBox3 li{float:left;background:#1d92b5;padding:25px 35px;width:330px;height:220px;color:#fff;}
.icpBox3 li h4{font-size:24px;margin-bottom:20px;margin-top:5px;}
.icpBox3 li h4 i{display:inline-block;width:40px;height:40px;background: url("icp_icon.png")/*tpa=http://www.4db.com/zhuanti/images/icp_icon.png*/ no-repeat;transition:all 0.3s;}
.icpBox3 li h4 span{display:block;margin-top:10px;}
.icpBox3 li:nth-child(2){background:#2ca0c4;}
.icpBox3 li:nth-child(3){background:#2db2db;}
.icpBox3 li:nth-child(2) i{background-position: -40px 0;}
.icpBox3 li:nth-child(2) i{background-position: -80px 0;}
.icpBox3 li:hover i{margin-top:-8px;margin-bottom:8px;}
.i_phone{display:inline-block;padding:0 30px;border:2px solid #2ca0c4;font-size:18px;color:#2aa0c4;margin:0 auto;position:relative;margin-top:40px;}
.icpBox1 .phone a,.icpBox5 .phone a{color:#fff;}
.i_phone span{font-size:26px;font-family:Arial;margin-left:5px;height:56px;line-height:56px;}
.phone a:hover{color: #fff ! important;}
.i_phone:before,.i_phone:after{position:absolute;content:"";left:-30px;top:28px;height:1px;width:40px;background:#2ca0c4;}
.i_phone:after{left:auto;right:-30px;}

.icpBox4{background:#fff url("icp4_bg.jpg")/*tpa=http://www.4db.com/zhuanti/images/icp4_bg.jpg*/ repeat-x;}
.icpBox4 li{float:left;width:380px;background:#00a958;color:#fff;}
.icpBox4 li .img{display:block;width:380px;height:320px;overflow:hidden;}
.icpBox4 li img{width:380px;height:320px;transition:all 0.5s;}
.icpBox4 li .font{padding:15px 20px;height:150px;line-height:30px;}
.icpBox4 li h4{font-size:18px;border-bottom:1px solid rgba(255,255,255,.2);height:40px;margin-bottom:10px;}
.icpBox4 li:hover img{transform:scale(1.1);}
.icpBox4 li:nth-child(2){background:#2ca0c4;margin:0 30px;}
.icpBox4 li:nth-child(3){background:#ffa200;}
.icpBox4 .box{text-align:center;padding-top:25px;}
.icpBox4 .box strong{font-size:18px;color:#333;margin-bottom:10px;display:block;}
.icpBox4 .box .i_phone{margin-top:0;}

.icpBox5{background: url("icp5_bg.jpg")/*tpa=http://www.4db.com/zhuanti/images/icp5_bg.jpg*/ no-repeat center 185px;height:1010px;}
.icpBox5 .left{padding-left:270px;width:280px;height:810px;}
.icpBox5 .left li{height:40px;line-height:40px;margin-bottom:30px;font-size:18px}
.icpBox5 .left li:first-child,.icpBox5 .right li:first-child{height:80px;line-height:80px;font-size:20px;margin-bottom:30px;}
.icpBox5 .left h4{font-weight:normal;margin-left:-65px;color:#fff;}

.icpBox5 .right{width:580px;text-align:center;color:#fff;font-size:18px;font-weight:bold;height:810px;}
.icpBox5 .right li{height:50px;line-height:50px;margin-bottom:50px;}
.icpBox5 .right li:last-child{font-size:18px;color:#5ed0f3;margin-top:-40px;}
.icpBox5 .phone{font-size:18px;color:#2aa0c4;text-align:center;margin-top:40px;}
.icpBox5 .phone span{font-size:26px;font-family:Arial;margin-left:5px;height:56px;line-height:56px;}

.icpBox6{background-image:url("icp6_bg.jpg")/*tpa=http://www.4db.com/zhuanti/images/icp6_bg.jpg*/;background-repeat: no-repeat;background-position:center;height:470px;padding:40px 0;text-align:center;}
.icpBox6 .iTitle strong{background:none;}
.icpBox6 .iTitle:after{content:"";position:absolute;height:1px;left:0;top:45px;background: url("line.png")/*tpa=http://www.4db.com/zhuanti/images/line.png*/ no-repeat;width:100%;}
.icpBox6 ul{height:260px;}
.icpBox6 li{float:left;width:180px;height:120px;background:#01a95a;color:#fff;font-size:16px;margin:0 25px 20px 0;padding:0 20px;text-align:center;transition:all 0.3s;}
.icpBox6 li p{display: table-cell;vertical-align: middle;width:180px;height:120px;}
.icpBox6 li:nth-child(5),.icpBox6 li:nth-child(9){margin-right:0;background:#f569f3;}
.icpBox6 li:nth-child(6){width:425px;background:#2ca0c4;}
.icpBox6 li:nth-child(6) p{width:425px;}
.icpBox6 li:nth-child(2){background:#ffa200;}
.icpBox6 li:nth-child(3){background:#2ca0c4;}
.icpBox6 li:nth-child(4){background:#e86032;}
.icpBox6 li:nth-child(7){background:#fe3c3c;}
.icpBox6 li:nth-child(8){background:#46c0a1;}
.icpBox6 li:nth-child(9){background:#74c745;}
.icpBox6 li:hover{box-shadow:0 0 15px #fff inset;}

.icpBox7{text-align:center;}
.icpBox7 ul{background: url("icp7_bg.jpg")/*tpa=http://www.4db.com/zhuanti/images/icp7_bg.jpg*/ no-repeat right top;height:390px;padding-right:600px;}
.icpBox7 li{height:70px;line-height:70px;border-bottom:1px dashed #ccc;font-size:16px;text-align:left;}
.icpBox7 li i{float:left;width:34px;height:34px;background:#bdbdbd;color:#fff;text-align:center;line-height:34px;border-radius:100%;font-style:normal;margin:15px 10px 0 0;}
.icpBox7 li:last-child{border-bottom:none;color:#2ca0c4;}
.iTitle i{display:block;font-size:14px;color:#999;font-style:normal;}

.icpBox8 li{float:left;width:190px;margin-right:12px;display: block;cursor: pointer; filter: grayscale(100%); filter: gray;-webkit-filter: grayscale(100%);-ms-filter: grayscale(100%); -o-filter: grayscale(100%);margin-bottom:12px;}
.icpBox8 li:nth-child(6n){margin-right:0;}
.icpBox8 li:hover{filter:none;-webkit-filter:none;-ms-filter:none; -o-filter:none;}

.icpBox9 li{float:left;width:250px;height:140px;background:#00a958;color:#fff;font-size:20px;font-weight:bold;padding:40px 20px 0 20px;margin-right:13px;}
.icpBox9 li:nth-child(4){background:#e86032;margin-right:0;}
.icpBox9 li i{display:inline-block;background: url("icp9_icon.png")/*tpa=http://www.4db.com/zhuanti/images/icp9_icon.png*/ no-repeat;width:52px;height:46px;transition:all 0.3s;}
.icpBox9 li span{display:block;margin-top:20px;}
.icpBox9 li:nth-child(2){background:#2ca0c4;}
.icpBox9 li:nth-child(3){background:#ffa200;}
.icpBox9 li:nth-child(2) i{background-position: -52px 0;}
.icpBox9 li:nth-child(3) i{background-position: -104px 0;}
.icpBox9 li:nth-child(4) i{background-position: -156px 0;}
.icpBox9 .p2{font-weight:bold;font-size:24px;color:#2aa0c4;margin:20px 0 40px 0;}
.icpBox9 li:hover i{margin-top:-8px;margin-bottom:8px;}

/* 文网文 */
.icpBox{padding:85px 0 60px;overflow:hidden;}
.textBox1 .left{width:600px;}
.textBox1 .iTitle{text-align:left;}
.textBox1 .iTitle:after{display:none;}
.textBox1 .iTitle strong{padding:0;}
.textBox1 .font{height:180px;overflow:hidden;font-size:16px;color:#333;line-height:32px;}
.textBox1 .phone{display:inline-block;padding:0 20px;height:50px;line-height:50px;color:#fff;background:#2aa0c4;border-radius:3px;margin-left:130px;}
.textBox1 .phone span{font-size:20px;}

.textBox2{background:#f4f4f4;padding:40px 0;overflow:hidden;line-height:30px;}
.textBox2 .left{width:455px;padding-left:120px;background: url("text2_1.jpg")/*tpa=http://www.4db.com/zhuanti/images/text2_1.jpg*/ no-repeat left top;}
.textBox2 .left h4{font-size:20px;color:#ffa200;height:40px;line-height:40px;margin-bottom:5px;}
.textBox2 .fr{background: url("textBox2_2.jpg")/*tpa=http://www.4db.com/zhuanti/images/textBox2_2.jpg*/ no-repeat left top;}
.textBox2 .fr h4{color:#00a958;}
.textBox2 em{font-style:normal;margin:0 40px;color:#888;}

.textBox3{position:relative;padding-bottom:80px;}
.textBox3_main{border:1px solid #2ca0c4;}
.textBox3 .menu{height:60px;overflow:hidden;}
.textBox3 .menu span{float:left;width:399px;font-size:20px;font-weight:bold;cursor:pointer;text-align:center;background:#2ca0c4;color:#fff;height:60px;line-height:60px;}
.textBox3 .menu span:last-child{width:400px;}
.textBox3 .menu span.on{background:none;color:#2ca0c4;}
.textBox3 .main{padding:40px 35px;overflow:hidden;}
.textBox3 .main .box1 p{font-size:16px;text-align:center;margin-bottom:25px;}
.textBox3 .main .box1 li{float:left;width:259px;text-align:center;margin:0 30px 20px 0;color:#888;}
.textBox3 .main .box1 li span{display:block;height:40px;line-height:40px;background:#ebebeb;margin-bottom:8px;color:#454545;}
.textBox3 .main .box1 li:nth-child(4n){margin-right:0;}


.textBox3 .main .box2 p{font-size:16px;text-align:center;margin-bottom:25px;}
.textBox3 .main .box2 span{float:left;width:200px;height:40px;line-height:40px;background:#ebebeb;text-align:center;margin:0 30px 20px 0;}
.textBox3 .main .box2 span:nth-child(5n){margin-right:0;}
.textBox3 .main .box3 p{font-size:16px;text-align:center;margin-bottom:25px;}
.textBox3 .main .box3 strong{display:block;font-size:20px;}
.textBox3 .main .box3 span{float:left;width:259px;height:40px;line-height:40px;background:#ebebeb;text-align:center;margin:0 30px 20px 0;}
.textBox3 .main .box3 span:nth-child(4n){margin-right:0;}
.textBox3 .i_phone{position:absolute;bottom:51px;left:50%;margin-left:-140px;background:#fff;}

.textBox4 li{float:left;width:280px;height:120px;background:#01a95a;color:#fff;font-size:16px;margin:0 15px 20px 0;padding:0 25px 0 85px;transition:all 0.3s;}
.textBox4 li i{font-size:30px;font-family:Arial;margin-left:-60px;float:left;}
.textBox4 li p{display: table-cell;vertical-align: middle;width:280px;height:120px;}
.textBox4 li:nth-child(3),.textBox4 li:nth-child(5){margin-right:0;background:#f569f3;}
.textBox4 li:nth-child(2){background:#ffa200;}
.textBox4 li:nth-child(3){background:#2ca0c4;}
.textBox4 li:nth-child(4){background:#e86032;}
.textBox4 li:nth-child(4),.textBox4 li:nth-child(5),.textBox4 li:nth-child(4) p,.textBox4 li:nth-child(5) p{width:482px;}
.textBox4 .box strong{display:block;font-size:18px;padding-top:10px;}
.textBox4 .i_phone{margin-top:20px;}
.textBox4 li:hover{box-shadow:0 0 15px #fff inset;}


.textBox5 .main{position:relative;overflow:hidden;padding-top:5px;}
.textBox5 .main:before{position:absolute;content:"";background: url("text5_1.png")/*tpa=http://www.4db.com/zhuanti/images/text5_1.png*/ no-repeat;width:170px;height:138px;left:50%;margin-left:-85px;top:0;z-index:1;}
.textBox5 .main:after{position:absolute;content:"";border-left:1px dashed #dadada;width:1px;height:100%;left:50%;top:0;}
.textBox5 .left,.textBox5 .right{width:600px;}
.textBox5 .tie{height:60px;line-height:60px;text-align:center;color:#fff;font-size:20px;font-weight:normal;background:#5ed0f3;margin-bottom:85px;}
.textBox5 .right .tie{background:#5ed0f3;color:#fff;font-weight:bold;}
.textBox5 .right ul{padding-left:120px;background: url("text5_3.jpg")/*tpa=http://www.4db.com/zhuanti/images/text5_3.jpg*/ no-repeat left top;margin-left:80px;}
.textBox5 .right li{height:100px;margin-bottom:30px;font-size:16px;color:#333;}
.textBox5 .right li h4{font-size:20px;margin-bottom:10px;}
.textBox5 .right li div{display: table-cell;vertical-align: middle;height:100px;}
.textBox5 .p1{height:70px;line-height:70px;background:#eee;font-size:18px;color:#000;font-weight:bold;}
.textBox5 .p1 span{color:#2ca0c4;font-size:26px;}

.textBox6 ul{background: url("text6_bg.jpg")/*tpa=http://www.4db.com/zhuanti/images/text6_bg.jpg*/ no-repeat;height:395px;overflow:hidden;margin-bottom:40px;}
.textBox6 li{float:left;width:520px;text-align:right;height:40px;margin-right:200px;padding:5px 0 0 40px;}
.textBox6 li:nth-child(2n){float:right;text-align:left;margin-right:0;margin-left:200px;padding:5px 40px 0 0;}
.textBox6 .box .p1{font-weight:bold;color:#333;font-size:18px;}
.textBox6 .box .i_phone{margin-top:20px;}

.textBox7 li{float:left;width:250px;height:140px;background:#00a958;color:#fff;font-size:16px;padding:40px 20px 0 20px;margin-right:13px;text-align:center;line-height:30px;transition:all 0.3s;}
.textBox7 li i{display:block;font-size:30px;font-family:Arial;margin-bottom:15px;}
.textBox7 li span{display:block;margin-top:20px;}
.textBox7 li:nth-child(2){background:#2ca0c4;}
.textBox7 li:nth-child(3){background:#ffa200;}
.textBox7 li:nth-child(4){background:#e86032;margin-right:0;}
.textBox7 li:hover{box-shadow:0 0 15px #fff inset;}

/* 软件著作权 */
.rjzzBox2 ul{margin-bottom:50px;}
.rjzzBox2 li{float:left;width:150px;text-align:center;color:#000;font-weight:bold;text-align:center;margin-right:60px;padding-top:10px;}
.rjzzBox2 li i{display:inline-block;width:150px;height:150px;background: url("rjzz2_icon.png")/*tpa=http://www.4db.com/zhuanti/images/rjzz2_icon.png*/ no-repeat;transition:all 0.3s;}
.rjzzBox2 li span{display:block;font-size:20px;margin-top:10px;}
.rjzzBox2 li:nth-child(2) i{background-position: -150px 0;}
.rjzzBox2 li:nth-child(3) i{background-position: -300px 0;}
.rjzzBox2 li:nth-child(4) i{background-position: -450px 0;}
.rjzzBox2 li:nth-child(5) i{background-position: -600px 0;}
.rjzzBox2 li:nth-child(6) i{background-position: -750px 0;}
.rjzzBox2 li:nth-child(6){margin-right:0;}
.rjzzBox2 li:hover i{margin-top:-8px;padding-bottom:8px;}
.boxCen strong{display:block;font-size:18px;color:#333;margin-top:30px;}
.boxCen .i_phone{margin-top:20px;}

.rjzzBox3 li{float:left;width:240px;height:235px;color:#fff;font-size:16px;text-align:center;padding:35px 25px 0 25px;background:#01a95a;margin-right:13px;border-radius:8px;}
.rjzzBox3 li h4{font-size:20px;margin-bottom:20px;}
.rjzzBox3 li i{display:inline-block;width:80px;height:80px;background: url("rjzz3_icon.png")/*tpa=http://www.4db.com/zhuanti/images/rjzz3_icon.png*/ no-repeat;transition:all 0.3s;}
.rjzzBox3 li h4 span{display:block;margin-top:10px;}
.rjzzBox3 li:nth-child(2){background:#2aa0c4;}
.rjzzBox3 li:nth-child(3){background:#ffa200;}
.rjzzBox3 li:last-child{margin-right:0;background:#e86030;}
.rjzzBox3 li:nth-child(2) i{background-position: -80px 0;}
.rjzzBox3 li:nth-child(3) i{background-position: -160px 0;}
.rjzzBox3 li:nth-child(4) i{background-position: -240px 0;}
.rjzzBox3 li:hover i{margin-top:-8px;margin-bottom:8px;}

.rjzzBox4 ul{margin-bottom:40px;}
.rjzzBox4 li{float:left;width:124px;padding-right:55px;text-align:center;background: url("rjzz4_icon.png")/*tpa=http://www.4db.com/zhuanti/images/rjzz4_icon.png*/ no-repeat right top;color:#333;font-size:16px;height:100px;}
.rjzzBox4 li i{display:block;font-size:30px;color:#333;font-family:Arial;margin-bottom:20px;}
.rjzzBox4 li:last-child{padding-right:0;background:none;}

.rjzzBox5 .left{background:#f4f4f4;border-radius:5px;overflow:hidden;width:595px;}
.rjzzBox5 .left h4{font-size:20px;color:#fff;background:#2aa0c4;text-align:center;height:60px;line-height:60px;}
.rjzzBox5 .left h4 i{display:inline-block;width:21px;height:20px;background: url("rjzz5_icon.png")/*tpa=http://www.4db.com/zhuanti/images/rjzz5_icon.png*/ no-repeat;margin-right:5px;position:relative;top:4px;}
.rjzzBox5 .left.fr h4 i{background-position: -21px 0;}
.rjzzBox5 .left .box{padding:25px;line-height:30px;font-size:16px;}
.rjzzBox5 .left .box span{margin-right:40px;}

.rjzzBox5 li p{display:inline-block;background:#d6f5ff;height:50px;line-height:50px;color:#333;font-size:16px;border-radius:25px;padding-left:20px;margin-bottom:10px;}
.rjzzBox5 li i{float:right;width:50px;height:50px;border-radius:100%;background:#2aa0c4;color:#fff;font-size:24px;font-family:Arial;text-align:center;line-height:50px;margin-left:20px;}
.rjzzBox5 li:nth-child(2n) p{padding-left:0;padding-right:20px;}
.rjzzBox5 li:nth-child(2n) i{float:left;margin:0 20px 0 0;}
.rjzzBox5 li{float:left;width:620px;text-align:right;}
.rjzzBox5 li:nth-child(2n){float:right;text-align:left;}

/* 游戏版号 */
.yxbhBox1{text-align:center;font-size:16px;}
.yxbhBox1 .font p{background: url("yxbh1_icon.jpg")/*tpa=http://www.4db.com/zhuanti/images/yxbh1_icon.jpg*/ no-repeat center top;padding-top:40px;margin-bottom:35px;}

.yxbhBox2 li{padding:30px 20px;height:120px;width:350px;background:#00a958;color:#fff;text-align:center;float:left;transition:all 0.4s;border-radius:5px;}
.yxbhBox2 li h4{font-size:20px;border-bottom:1px dashed rgba(255,255,255,.2);height:40px;margin-bottom:15px;}
.yxbhBox2 li:nth-child(2){background:#2ca0c4;margin:0 15px;}
.yxbhBox2 li:nth-child(3){background:#ffa200;}
.yxbhBox2 li:hover{box-shadow:0 0 15px #fff inset;}

.yxbhBox3 li{float:left;width:180px;height:170px;padding:30px 25px 0 25px;font-size:16px;background:#f4f4f4;border-radius:8px;text-align:center;margin-right:12px;overflow:hidden;border-bottom:5px solid #2ca0c4;transition:all 0.3s;}
.yxbhBox3 li i{display:block;font-size:30px;font-family:Arial;font-style:normal;margin-bottom:20px;color:#666;}
.yxbhBox3 li:last-child{margin-right:0;}
.yxbhBox3 li:hover{background:#eee;}

.yxbhBox4 ul{background: url("yxbh4_1.jpg")/*tpa=http://www.4db.com/zhuanti/images/yxbh4_1.jpg*/ no-repeat center top;}
.yxbhBox4 ul li{float:left;width:150px;height:150px;text-align:center;font-size:16px;font-weight:bold;margin-right:25px;transition:all 0.3s;border-radius:100%;}
.yxbhBox4 ul li p{display: table-cell;vertical-align: middle;width:110px;height:150px;color:#fff;padding:0 20px;}
.yxbhBox4 ul li:last-child{margin-right:0;}
.yxbhBox4 ul li:hover{box-shadow:0 0 15px #fff inset;}

.yxbhBox5 ul{background: url("yxbh5_1.jpg")/*tpa=http://www.4db.com/zhuanti/images/yxbh5_1.jpg*/ no-repeat;height:191px;}
.yxbhBox5 ul li{float:left;width:290px;height:50px;line-height:50px;text-align:center;margin:0 13px 20px 0;font-size:16px;}
.yxbhBox5 ul li:nth-child(4n){margin-right:0;}
.yxbhBox5 ul li.fr{float:right;margin-right:0;margin-left:13px;}
.yxbhBox5 ul li:nth-child(8){margin-left:0;}

.yxbhBox6 li{float:left;width:250px;height:140px;background:#00a958;color:#fff;font-size:16px;padding:40px 20px 0 20px;margin-right:13px;text-align:center;line-height:30px;transition:all 0.3s;}
.yxbhBox6 li i{display:block;font-size:30px;font-family:Arial;margin-bottom:15px;}
.yxbhBox6 li span{display:block;margin-top:20px;}
.yxbhBox6 li:nth-child(2){background:#2ca0c4;}
.yxbhBox6 li:nth-child(3){background:#ffa200;}
.yxbhBox6 li:nth-child(4){background:#e86032;margin-right:0;}
.yxbhBox6 li:hover{box-shadow:0 0 15px #fff inset;}

/* 游戏备案 */
.yxbaBox2 .font{background: url("yxba_2.jpg")/*tpa=http://www.4db.com/zhuanti/images/yxba_2.jpg*/ no-repeat right center;height:120px;padding-right:615px;font-size:16px;color:#333;line-height:30px;}
.yxbaBox3{text-align:center;}
.yxbaBox3 li{float:left;width:240px;height:170px;background:#f4f4f4;border-radius:5px;padding:20px 25px;font-size:16px;overflow:hidden;position:relative;margin-right:13px;}
.yxbaBox3 li i{display:inline-block;width:70px;height:70px;background:#fff;font-family:Arial;color:#00a958;font-size:30px;border-radius:100%;font-style:normal;line-height:70px;margin-bottom:20px;position:relative;z-index:1;transition:all 0.3s;}
.yxbaBox3 li:after{content:"";height:54px;width:100%;position:absolute;left:0;top:0;background:#00a958;}
.yxbaBox3 li:nth-child(2):after{background:#2ca0c4;}
.yxbaBox3 li:nth-child(3):after{background:#ffa200;}
.yxbaBox3 li:nth-child(4):after{background:#e86032;}
.yxbaBox3 li:nth-child(2) i{color:#2ca0c4}
.yxbaBox3 li:nth-child(3) i{color:#ffa200}
.yxbaBox3 li:nth-child(4) i{color:#e86032}
.yxbaBox3 li:nth-child(4){margin-right:0;}
.yxbaBox3 li:hover i{margin-top:-8px;margin-bottom:28px;}

.yxbaBox4 li{float:left;width:150px;text-align:center;font-weight:bold;text-align:center;margin-right:60px;padding-top:10px;position:relative;}
.yxbaBox4 li i{display:inline-block;width:150px;height:150px;background: url('../images/yxba4_icon.png') no-repeat;transition:all 0.3s;}
.yxbaBox4 li span{display:block;font-size:20px;margin-top:10px;}
.yxbaBox4 li:nth-child(2) i{background-position: -150px 0;}
.yxbaBox4 li:nth-child(3) i{background-position: -300px 0;}
.yxbaBox4 li:nth-child(4) i{background-position: -450px 0;}
.yxbaBox4 li:nth-child(5) i{background-position: -600px 0;}
.yxbaBox4 li:nth-child(6) i{background-position: -750px 0;}
.yxbaBox4 li:nth-child(6){margin-right:0;}
.yxbaBox4 li:hover i{margin-top:-8px;padding-bottom:8px;}
.yxbaBox4 li:after{content:"";position:absolute;width:19px;height:25px;background: url('../images/yxba4_icon2.png') no-repeat;right:-40px;top:80px;}

.yxbaBox5 li p{display:inline-block;background:#d6f5ff;height:50px;line-height:50px;color:#333;font-size:16px;border-radius:25px;padding-left:20px;margin-bottom:10px;}
.yxbaBox5 li i{float:right;width:50px;height:50px;border-radius:100%;background:#2aa0c4;color:#fff;font-size:24px;font-family:Arial;text-align:center;line-height:50px;margin-left:20px;}
.yxbaBox5 li:nth-child(2n) p{padding-left:0;padding-right:20px;}
.yxbaBox5 li:nth-child(2n) i{float:left;margin:0 20px 0 0;}
.yxbaBox5 li{float:left;width:620px;text-align:right;}
.yxbaBox5 li:nth-child(2n){float:right;text-align:left;}