@charset "utf-8";
fieldset,img{border:0;}
img{vertical-align:middle;}
ol,ul,li{list-style-type:none;}
table{border-collapse:collapse;border-spacing:0;}
button,input,select,textarea{font-size:13px;font-family:inherit;margin:0;outline:none;resize:none;border:none;}
.clearfix:after {clear: both; content: "."; display:block; height: 0; overflow: hidden; visibility: hidden; }
.clearfix { zoom:1;}
a{color:#454545;text-decoration:none;outline:none;blr:expression(this.onFocus=this.blur());transition:all 0.3s;}
a:hover{color:#2aa0c4 ;text-decoration:none;}:focus{outline:none;}

/* CSS活动的公共样式 */
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb25{margin-bottom:25px;}
.center{text-align:center;}
.hide{overflow:hidden;}
.erp{white-space:nowrap;overflow:hidden;text-overflow: ellipsis;}

.iTitle{text-align:center;font-weight:normal;text-transform: uppercase;font-size:30px;line-height:30px;color:#222;position:relative;margin-bottom:40px;}
.iTitle span{display:block;color:#bdbdbd;font-family:Arial;font-size:18px;letter-spacing:1px;}
.iTitle strong{font-weight:normal;padding:0 20px;position:relative;z-index:2;background:#fff;}
.i_phone{display:inline-block;padding:0 30px;border:2px solid #2ca0c4;font-size:18px;color:#2aa0c4;margin:0 auto;position:relative;margin-top:40px;}
.i_phone span{font-size:26px;font-family:Arial;margin-left:5px;height:56px;line-height:56px;}
.phone a:hover{color: #fff ! important;}
.i_phone:before,.i_phone:after{position:absolute;content:"";left:-30px;top:28px;height:1px;width:40px;background:#2ca0c4;}
.i_phone:after{left:auto;right:-30px;}
.iTitle i{display:block;font-size:14px;color:#999;font-style:normal;}


#content{margin-top:20px;}
#content>div{width:90%; margin:0 auto;padding:50px 10px;}
/* 软件著作权 */
.rjzzBox1 .iTitle strong{padding:0;letter-spacing: 2px;}
.rjzzBox1 .rjzzBox1-con,.rjzzBox1-img{width:60%;margin:0 auto;}
.rjzzBox1 .rjzzBox1-con .font{width:100%;height:auto;font-size:16px;color:#999;line-height:32px;}
.rjzzBox1 .rjzzBox1-con a{display:block;width:20%;margin:10px auto 20px;height:30px;line-height:30px;text-align:center;color:#fff;background:#2aa0c4;border-radius:3px;}
.rjzzBox1 .rjzzBox1-img img{display:block;margin:10px auto;}
.rjzzBox1 .rjzzBox1-img a{display:block;text-align:center;}
.rjzzBox1 .phone{display:inline-block;padding:0 20px;height:50px;line-height:50px;color:#fff;background:#2aa0c4;border-radius:3px;}
.rjzzBox1 .phone span{font-size:20px;}

.rjzzBox2>div{width:100%;}
.rjzzBox2 ul{margin-bottom:50px;}
.rjzzBox2 li{float:left;width:33.33%;text-align:center;color:#000;font-weight:bold;text-align:center;padding-top:10px;}
.rjzzBox2 li i{display:inline-block;width:150px;height:150px;background: url("../images/rjzz2_icon.png") no-repeat;transition:all 0.3s;}
.rjzzBox2 li span{display:block;font-size:20px;margin-top:10px;}
.rjzzBox2 li:nth-child(2) i{background-position: -150px 0;}
.rjzzBox2 li:nth-child(3) i{background-position: -300px 0;}
.rjzzBox2 li:nth-child(4) i{background-position: -450px 0;}
.rjzzBox2 li:nth-child(5) i{background-position: -600px 0;}
.rjzzBox2 li:nth-child(6) i{background-position: -750px 0;}
.rjzzBox2 li:nth-child(6){margin-right:0;}
.rjzzBox2 li:hover i{margin-top:-8px;padding-bottom:8px;}
.boxCen strong{display:block;font-size:18px;color:#333;margin-top:30px;}
.boxCen .i_phone{margin-top:20px;}

.rjzzBox3 li{float:left;width:25%;height:235px;padding-right:15px;padding-left:15px;box-sizing:border-box;}
.rjzzBox3 li>div{padding:20px;border-radius:8px;background:#01a95a;color:#fff;font-size:16px;text-align:center;}
.rjzzBox3 li h4{font-size:20px;margin-bottom:20px;}
.rjzzBox3 li i{display:inline-block;width:80px;height:80px;background: url("../images/rjzz3_icon.png") no-repeat;transition:all 0.3s;}
.rjzzBox3 li h4 span{display:block;margin-top:10px;}
.rjzzBox3 li:nth-child(2)>div{background:#2aa0c4;}
.rjzzBox3 li:nth-child(3)>div{background:#ffa200;}
.rjzzBox3 li:last-child>div{margin-right:0;background:#e86030;}
.rjzzBox3 li:nth-child(2)>div i{background-position: -80px 0;}
.rjzzBox3 li:nth-child(3)>div i{background-position: -160px 0;}
.rjzzBox3 li:nth-child(4)>div i{background-position: -240px 0;}
.rjzzBox3 li:hover i{margin-top:-8px;margin-bottom:8px;}

.rjzzBox4 ul{margin-bottom:40px;}
.rjzzBox4 li{float:left;width:124px;padding-right:55px;text-align:center;background: url("../images/rjzz4_icon.png") no-repeat right top;color:#333;font-size:16px;height:100px;}
.rjzzBox4 li i{display:block;font-size:30px;color:#333;font-family:Arial;margin-bottom:20px;}
.rjzzBox4 li:last-child{padding-right:0;background:none;}

.rjzzBox5 .rjzzBoxCon{background:#f4f4f4;border-radius:5px;overflow:hidden;width:50%;margin:20px auto;}
.rjzzBox5 .rjzzBoxCon h4{font-size:20px;color:#fff;background:#2aa0c4;text-align:center;height:60px;line-height:60px;}
.rjzzBox5 .rjzzBoxCon h4 i{display:inline-block;width:21px;height:20px;background: url("../images/rjzz5_icon.png") no-repeat;margin-right:5px;position:relative;top:4px;}
.rjzzBox5 .rjzzBoxCon .box{padding:25px;line-height:30px;font-size:16px;}
.rjzzBox5 .rjzzBoxCon .box span{margin-right:40px;}

.rjzzBox6 li p{display:inline-block;background:#d6f5ff;height:50px;line-height:50px;color:#333;font-size:16px;border-radius:25px;padding-left:20px;margin-bottom:10px;}
.rjzzBox6 li i{float:right;width:50px;height:50px;border-radius:100%;background:#2aa0c4;color:#fff;font-size:24px;font-family:Arial;text-align:center;line-height:50px;margin-left:20px;}
.rjzzBox6 li:nth-child(2n) p{padding-left:0;padding-right:20px;}
.rjzzBox6 li:nth-child(2n) i{float:left;margin:0 20px 0 0;}
.rjzzBox6 li{float:left;width:620px;text-align:right;}
.rjzzBox6 li:nth-child(2n){float:right;text-align:left;}

