@charset "utf-8";
.clear{clear:both;}
.left{ float:left}
.right{ float:right}
.about-h2{ font-size:30px; margin-top:30px; height:60px;line-height:60px;overflow:hidden;text-align:center;color:#404040}


/*需要了解*/
.yxbaBox1 .minv-p{ line-height:30px; text-align:center;color:#bdbdbd;font-size:16px;}
.yxbaBox1-con{width:90%;margin:30px auto 0;padding:20px 0px; overflow:hidden; }
.yxbaBox1-con li{ float:left; width:50%; text-align:center;box-sizing:border-box;padding:20px;}
.yxbaBox1-con li div{width:80%;margin:0 auto;}
.yxbaBox1-con li img{ display:block; width:126px; margin:0 auto;}
.yxbaBox1-con li h3{ color:#666; font-size:18px; margin-top:23px; overflow:hidden}
.yxbaBox1-con li p{ margin-top:10px;font-size:14px;color:#999;overflow:hidden}


/*游戏办理流程 || 游戏备案办理条件 || 合作需要准备*/
.yxbaBox2,.yxbaBox3,.yxbaBox4{width:100%;padding:20px 0;}
.yxbaBox2-con,.yxbaBox3-con,.yxbaBox4-con{width:70%;margin:0 auto;border:2px solid #04c0ed;box-sizing:border-box;padding:0px;overflow:hidden;}
.yxbaBox2-con .name,.yxbaBox3-con .name,.yxbaBox4-con .name{float:left;width:20%;height:200px;}
.yxbaBox2-con .list,.yxbaBox3-con .list,.yxbaBox4-con .list{float:left;width:80%;height:200px;padding:20px;box-sizing:border-box;}
.yxbaBox2-con .name p,.yxbaBox3-con .name p,.yxbaBox4-con .name p{
	width:100%;height: 100px;line-height: 100px;background:#04c0ed;color: #FFFFFF;text-align:center;font-size:24px;
	cursor: pointer;border-left: 7px solid #04c0ed;
}
.yxbaBox2-con .list li,.yxbaBox3-con .list li,.yxbaBox4-con .list li{float:left;padding:15px;font-size:14px;color:#999;box-sizing:border-box;}
.yxbaBox2-con .name p.active,.yxbaBox3-con .name p.active,.yxbaBox4-con .name p.active{background:#fff;color:#666;}
.none1{ color:#0c4155; font-size:14px; margin-top:50px; overflow:hidden; text-align:center; font-weight:bold}
.iuji1{ background:url(../images/button.png) no-repeat; width:182px; height:40px; line-height:40px; color:#fff; text-align:center; margin:15px auto 0; overflow:hidden; display:block}
.yxbaBox2-con .list li span{display:inline-block;width:20px;height:20px;line-height:20px;text-align:center;background:#04c0ed;color:#fff;border-radius:50%;margin-right:5px;}

/*服务保障*/
.yxbaBox5{width:100%;margin:0px auto;padding:20px 0px; overflow:hidden;}
.yxbaBox5 .call-baoz{ width:90%; margin:55px auto 0;}
.yxbaBox5 .call-baoz li{float:left; width:33.33%; height: 155px;padding-right: 15px;padding-left: 15px;position: relative;box-sizing:border-box;}
.yxbaBox5 .call-baoz li .baoz-content{height:100%;padding:30px;background:#f5f5f5;position:relative;box-sizing:border-box;}
.yxbaBox5 .call-baoz li .baoz-content div{ position:absolute;width:50px;height:50px;background: #707070;border-radius:40px;top:-20%;left:5%;text-align:center;}
.yxbaBox5 .call-baoz li .baoz-content div span{ width:34px;height:34px;background:url(../images/bj1.png) no-repeat -114px -84px;position:absolute;left:9px;top:4px;}
.yxbaBox5 .call-baoz li h4{ margin-top:10px;font-size: 20px;color: #212121;text-transform:capitalize;line-height: 32px;padding-bottom: 5px;}
.yxbaBox5 .call-baoz li p{ color:#999;font-size:14px; }
.yxbaBox5 .call-baoz li div span.call-span1{ background-position:-114px -126px ; width:36px;left:8px;}
.yxbaBox5 .call-baoz li div span.call-span2{ background-position:-114px -171px ; height:21px;top:12px;}
.yxbaBox5 .call-baoz li div span.call-span3{ background-position:-166px -84px ; width:29px;left:11px;top:5px;}
.yxbaBox5 .call-baoz li div span.call-span4{ background-position:-166px -126px ; width:31px;left:11px;top:8px;}
.yxbaBox5 .call-baoz li div span.call-span5{ background-position:-166px -171px ; width:22px;left:14px;top:9px;}

/*这些也能帮你办*/
.yxbaBox6{background:#f5f5f5;height:500px;padding:20px 0}
.yxbaBox6-con{ width:90%;margin:0px auto;padding:20px 0px;overflow:hidden;}
.yxbaBox6-con li{overflow:hidden;float:left;width:20%;height:377px; line-height:24px;background:url(../images/img4.png) no-repeat top right;color:#575757;padding:10px 20px;box-sizing: border-box; }
.yxbaBox6-con li h3{ text-align:center; font-size:18px; color:#575757; overflow:hidden; margin-top:20px;}
.yxbaBox6-con li  p{ margin-top:12px; overflow:hidden; height:135px;}
.yxbaBox6-con li img{ display:block; width:117px; margin:0 auto; overflow:hidden}
.yxbaBox6-con li a{ background: url(../images/anniu2.jpg)  no-repeat; width:118px; height:31px; display:block; margin:0px auto; overflow:hidden}
.yxbaBox6-con li a:hover{ background:url(../images/anniu1.png) no-repeat;width:118px; height:31px;}



